<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error</title>
    <style>
        body {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100vw;
            height: 100vh;
            overflow: hidden;
        }
        .error-box {
            border-radius: 8px;
            box-shadow: 0px 0px 2px 0px black;
            width: 40%;
            height: 40%;
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    </style>
</head>
<body>
    <div class="error-box">
        <h1 style="color: rgb(202, 0, 0); margin-bottom:0">Error:</h1>
        <hr style="width: 90%;"/>
        <p>ASPIRE Requires User Authorization to Access</p>
    </div>
</body>
</html>